<footer class="container py-5">
<div class="row">
  <div class="col-12 col-md">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
    <small class="d-block mb-3 text-muted">&copy; 2019 - 2020</small>
  </div>
  <div class="col-6 col-md">
    <h5>Resources</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">Our source</a></li>
      <li><a class="text-muted" href="#">How does this work?</a></li>
      <li><a class="text-muted" href="#">Contribute a source</a></li>
      <li><a class="text-muted" href="#">Become a source</a></li>
    </ul>
  </div>
  <div class="col-6 col-md">
    <h5>About</h5>
    <ul class="list-unstyled text-small">
      <li><a class="text-muted" href="#">About the team</a></li>
      <li><a class="text-muted" href="#">Locations</a></li>
      <li><a class="text-muted" href="#">Privacy</a></li>
      <li><a class="text-muted" href="#">Terms of use</a></li>
    </ul>
  </div>
</div>
</footer>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>